body {
    background-repeat: no-repeat;
    background-image: url("../images/bg/Bgr-Light-Contents.svg");
    background-size: cover;
    background-position: left top;
}

.dark {
    body {
        background-image: url("../images/bg/Bgr-Dark-Contents.svg");
        background-color: #0C2956;
    }
}

:root {
    --chatbot-fixed-height: 60.25rem;
    --chatbot-fixed-width: 29.375rem;
}